<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Application</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>

<div class="app">
    <div class="chat">
        <div class="chat-container">
<!--            <div th:each="message : ${messages}" th:class="${message.me} ? 'my-msg-container' : 'msg-container'">-->
<!--                <span th:class="${message.me} ? 'msg-balloon msg-balloon&#45;&#45;me' : 'msg-balloon msg-balloon&#45;&#45;other'"-->
<!--                      th:text="${message.body()}"></span>-->
<!--            </div>-->
        </div>

        <div class="write-msg-container">
            <input placeholder="write a message..." class="input write-msg-container__message" type="text"/>
            <button class="button button--primary write-msg-container__send-btn">Send</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">

    function User(username) {
        this.username = username
    }

    function Message(body, me) {
        this.body = body
        this.me = me
    }

    function Chat(messages = []) {
        this.messages = messages

        this.addMessage = function(message) {
            this.messages.push(message)
        }
    }

    function MessageRequest(body = "") {
        this.body = body
    }

    const sendBtn = document.querySelector(".write-msg-container__send-btn")
    const sendMessageInput = document.querySelector(".write-msg-container__message")
    const messagesContainer = document.querySelector(".chat-container")

    messagesContainer.scrollTo(0, messagesContainer.scrollHeight);

    const callback = function (mutationsList, observer) {
        for (let mutation of mutationsList) {
            if (mutation.type === "childList") {
                messagesContainer.scrollTo(0, messagesContainer.scrollHeight);
            }
        }
    };

    const config = { childList: true };
    const observer = new MutationObserver(callback);
    observer.observe(messagesContainer, config);

    const chat = new Chat([])
    const user = new User(/*[[${user}]]*/"")

    console.log(`Logged user: ${user.username}`)

    axios.get('/v1/chat')
        .then(function(response) {
            console.log(response);
            response.data.forEach(item => {
                const message = new Message(item.body, item.me)
                chat.addMessage(message)
                let elem = createMessageDomNode(message)
                showMessage(elem)
            });
        });

    const client = new StompJs.Client({
        brokerURL: 'ws://localhost:8080/ws',
        // debug: function (str) {
        //     console.log(str);
        // }
    });

    client.onConnect = function (frame) {
        client.subscribe('/topic/chat', handleChatSubscription)
    };

    client.activate();

    sendBtn.addEventListener("click", handleSendMessage)

    function handleChatSubscription(message) {
        if (message.body) {
            const messageJson = JSON.parse(message.body)
            let me = false
            if (messageJson.sender == user.username) {
                me = true
            }
            const chatMessage = new Message(messageJson.body, me)
            chat.addMessage(chatMessage);
            let elem = createMessageDomNode(chatMessage)
            showMessage(elem)
            console.log(chatMessage)
            if (chatMessage.me) {
                sendMessageInput.value = "";
                sendMessageInput.focus();
            }
        }
    }

    function handleSendMessage(event) {
        const request = new MessageRequest(sendMessageInput.value)
        const body = JSON.stringify(request);
        client.publish({
            destination: '/app/chat',
            body: body
        })
    }

    function createMessageDomNode(message) {
        let me = false;
        if (message.me) {
            me = true;
        }
        const rowDiv = document.createElement('div');
        if (me) {
            rowDiv.classList.add('my-msg-container');
        } else {
            rowDiv.classList.add('msg-container');
        }
        const span = document.createElement('span');
        if (me) {
            span.classList.add('msg-balloon', 'msg-balloon--me');
        } else {
            span.classList.add('msg-balloon', 'msg-balloon--other');
        }
        span.textContent = message.body;
        rowDiv.appendChild(span);
        return rowDiv;
    }

    function showMessage(elem) {
        messagesContainer.appendChild(elem)
    }

</script>
</body>
</html>